@import "@/styles/tokens.css";
@import "tailwindcss";

@layer base {
  body {
    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-text);
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
  }
}
